{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Article New{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mr-ml-auto mt-5">
                <h1>Creating new Article</h1>
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                <button class="btn btn-primary" type="submit">Add Article</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
